.system-content.content-categories .system-content-table td.switch{
	width: 20%;
}
.system-content.content-categories .system-content-table td.order_{
    width: 15%;
}
.system-content.content-articles .system-content-table span.article-category{
    cursor: default;
    color: #000048;
}
